.list-group-item {
  color: #000;
}

.badge-warning {
  color: #fff;
}

span{
    cursor: pointer;
}

.strike{
    text-decoration: line-through;
}

.done{
    background-color: green;
    padding: 4px;
    border-radius: 2px;
}
.undone {
    background-color: red;
    padding: 4px;
    border-radius: 2px;
}